   <br/>
   <br/>
   <br/>
   <br/>
   
   
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" >
           <a target="_blank" href="https://splurty-sierra-mills.herokuapp.com/"> <h4>Quote Generator</h4>
                <%= image_tag 'Splurty.png', class: 'full-width' %>
                </a> 
                <%= link_to "Splurty Github", herf="https://github.com/Alex49er13/University-of-Denver"  %>  
                <p>
                    A database-powered quote generator with a mobile-first
                    design, using the Ruby on Rails framework, HTML, and CSS.
                    Uses Git and GitHub for version control, and launched
                    on Heroku.
                </p>
                
        </div>

        <div class="col-sm-6" >
           <a target="_blank" href="https://nummy-sierra-mills.herokuapp.com/"> <h4>Yelp Clone</h4>
            <%= image_tag 'nomster.png', class: 'full-width' %>
            </a>
             <%= link_to "Numster Github", herf="https://github.com/Alex49er13/numster"  %> 
            <p>
                A Yelp clone that integrates with the Google Maps API
                and includes features like user comments, star ratings,
                image uploading, and user authentication.
            </p>
        
        </div>
    </div>
    </div>    
    <br class="clear" />

    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" >
            <a target="_blank" href="https://grammable-sierra-mills.herokuapp.com/"><h4>Test Driven Development</h4>
            <%= image_tag 'grammable.png', class: 'full-width' %>
            </a>
             <%= link_to "Grammable Github", herf="https://github.com/Alex49er13/grammable"  %> 
            <p>
                An Instagram clone that was built using industry-standard, test-driven
                development following numerous red/green/refactor cycles.
            </p>
            
        </div>
    
    
        <div class="col-sm-6" >
            <a target="_blank" href="https://todoster-sierra-mills.herokuapp.com/"><h4>Single Page Todo Application</h4>
            <%= image_tag 'todoster.png', class: 'full-width' %>
            </a>
             <%= link_to "TO-DO Github", herf="https://github.com/Alex49er13/todo"  %> 
            <p>
                This single-page to-do application features a
                fluid user interface that– by using JavaScript–
                allows users to rapidly add dynamic content.
            </p>
         
        </div>
    </div>        
    </div>
    <br class="clear" />