<script src="https://kit.fontawesome.com/fe5ee991ca.js"></script>
<div class="col-10 offset-1 about">
  <h1> Lets talk!<br/>How to contact me</h1>
     <div class="icons">
      <span style="font-size: 48px; color: Dodgerblue;">
      <i class="fas fa-envelope-open-text">Alex49er13@gmail.com</i><br/>
      <i class="fas fa-scroll"></i><%= link_to "Resume", "https://resume.io/r/uCCc0u5QY" %>
      </span>
      
    </div>

  <br />
  <p> Sierra is making technology your right hand man in organization and information because In such a fast world its essential to staying ahead of the game 
  </p>
  <br/>
  <br/>
  <br/>
  <p>
   EDUCATION <br/>
 <hr class="yellow" />
    University of Denver Bootcamp - Full Stack Web Develpment<br/>
    A 6 month intensive program focused on developing and polishing technical programming skills.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4"><br/>
    <br/>
    <br/>
      <%= image_tag 'profile.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <p>
      Asperations
       <hr class="yellow" />
      
      I want to bring information to your finger tips, and i want to present it in a way that is understood and attractive.  i  want to learn more computer languages and i want to  master them. 
       </p>
    <br/>
    <br/>
    
    


   <p>
      Skills and Tools
      <hr class="yellow" />
            
            Sierra has developed proficiency and expertise
            in the following programming languages and
            comfort with the following tools.
           
    <div class="icons">
      <%= image_tag 'github.png', class: 'icon' %>
      <%= image_tag 'slack.png', class: 'icon' %>   
      <%= image_tag 'skills.png', class: 'icon' %>
       </p>
    </div>
  <div>
  </div>
  </div>
</div>
  <br class="clear" />

<br />
 <p>
     For once you have tasted flight you will walk the earth with your eyes turned skywards, for there you have been and there you will long to return. 
     <br/>
      Leonardo da Vinci
      </p>
</div>