<!DOCTYPE html>
<html>
  <head>
    <title>Sierra R Mills</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Sierra R Mills', root_url, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav float right-lg-right">
      <li class=" nav-item">
        <a target="_blank" href="https://medium.com/@alex49er13/week-two-of-the-rest-of-my-life-73d43315b8c0">Blog</a> 
      </li>
      
    </ul>
  </div>
</nav>
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

      <div id="footer">
      <div class="container">
         
    <br />
    <%
=begin%>
 <%= link_to 'Future', me_future_path %> 
<%
=end%>
      </div>
    </div>
    <script src="https://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  
  </body>
</html>
